.item-delete-btn {
    background-color: white;
    color: black;
}

.item-edit-btn {
    background-color: white;
    color: black;
}

.icons-container {
    display: inline-block;
}
.button-text {
    display: flex;
    flex-wrap: nowrap;
}
